$page-header: 4.28em;
$section-header: 2.56em;
$sub-header: 1.7em;
$body: 14px;
$label-size: 0.85em;

$page-header-mobile: 1.85em;
$section-header-mobile: 1.85em;
$sub-header-mobile: 1.07em;
$body-mobile: 13px;
$label-size-mobile: 0.8rem;

$primary: #323232;
$secondary: #AFAFAF;
$bg: white;
$bg-alt: #FAFAFA;
$cta-hover-color: black;
$outline-color: #E1E1E1;

