@use "./mixins.scss" as *;
@use "./variables.scss" as *;
@use "./fonts.scss" as *;




/////////////////////////////
///////////FOOTER///////////
/////////////////////////////
.footer {
    background-color: $primary;
    padding: 1.85em 1.2em 1.2em;
    color: white;
    display: flex;
    flex-direction: column;
    line-height: 1.38rem;

    @include tablet {
        padding: 3.42em 2.57em 2.57em;
    }

    @include desktop {
        align-items: center;
    }

    //Top container that holds the heading, social icons, and logo (tablet & desktop)
    &__top {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        font-size: $sub-header-mobile;
        line-height: 2.5rem;

        @include tablet {
            display: flex;
            padding: 0 0 2.57em;
        }

        @include desktop {
            max-width: 1020px;
            margin: 0 auto;
            padding: 0 0.57em 2.57em;
        }
    }

    &__upper {
        width: 100%;
        font-size: $section-header-mobile;

        @include tablet {
            font-size: $body;
            display: flex;
            align-items: center;
            width: 33%;
        }

        @include desktop {
            margin-right: -10%;
        }
    }

    &__title {
        font-weight: 600;

        @include tablet {
            font-size: 2.3em;
        }
    }


    &__socials {
        width: 100%;
        padding: 24px 0;
        display: flex;
        justify-content: flex-start;
        gap: 9%;

        @include tablet {
            align-items: center;
            width: 33%;
            gap: 15%;
            padding: 0;
        }

        @include desktop {
            gap: 10%;

        }
    }

    &__icons {
        display: flex;
        justify-content: flex-start;
        width: 2.53em;
        height: 2.53em;

        @include tablet {
            width: 1.79em;
            height: 1.79em;
        }
    }


    &__logo {
        display: none;

        @include tablet {
            display: flex;
            width: 33%;
            justify-content: flex-end;
        }

        @include desktop {
            width: 42%;
            justify-self: flex-end;
        }
    }

    &__image {
        @include tablet {
            width: 50%;
        }

        @include desktop {
            width: 40%;
        }
    }


    //holds the contact information
    &__mid {

        @include tablet {
            display: flex;
            width: 100%;
        }

        @include desktop {
            padding: 0 0.57em;
            justify-content: flex-start;
            max-width: 1020px;
            margin: 0 auto;
            gap: 5%;

        }
    }

    &__block {
        padding-bottom: 1.85em;

        @include tablet {
            width: 33%;
        }

        @include desktop {
            width: 20%;
        }
    }

    //for formatting
    &__spacer {
        padding-bottom: 1.2em;
    }


    &__email {
        color: $outline-color;

        &:hover {
            color: white;
        }
    }



    &__bottom {
        padding-top: 2.46em;

        @include tablet {
            padding-top: 0;
        }

        @include desktop {
            width: 100%;
            max-width: 1020px;
            padding-left: 0.57em;
        }
    }

    &__copyright {
        padding-top: 1.2em;

        @include desktop {
            max-width: 1020px;
            margin: 0 auto;
        }
    }

}

//for the Bandsite logo at footer bottom, hidden at higher viewpoints
.large-hidden {
    @include tablet {
        display: none;
    }
}

.footer-site-logo {
    width: 100%;
    max-width: 125px;
}