@font-face {
  font-family: "Avenir Next LT";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype"), url("../../assets/fonts/Alternative/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Avenir Next LT";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype"), url("../../assets/fonts/Alternative/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Avenir Next LT";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype"), url("../../assets/fonts/Alternative/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.footer {
  background-color: #323232;
  padding: 1.85em 1.2em 1.2em;
  color: white;
  display: flex;
  flex-direction: column;
  line-height: 1.38rem;
}
@media (min-width: 768px) {
  .footer {
    padding: 3.42em 2.57em 2.57em;
  }
}
@media (min-width: 1280px) {
  .footer {
    align-items: center;
  }
}
.footer__top {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  font-size: 1.07em;
  line-height: 2.5rem;
}
@media (min-width: 768px) {
  .footer__top {
    display: flex;
    padding: 0 0 2.57em;
  }
}
@media (min-width: 1280px) {
  .footer__top {
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 0.57em 2.57em;
  }
}
.footer__upper {
  width: 100%;
  font-size: 1.85em;
}
@media (min-width: 768px) {
  .footer__upper {
    font-size: 14px;
    display: flex;
    align-items: center;
    width: 33%;
  }
}
@media (min-width: 1280px) {
  .footer__upper {
    margin-right: -10%;
  }
}
.footer__title {
  font-weight: 600;
}
@media (min-width: 768px) {
  .footer__title {
    font-size: 2.3em;
  }
}
.footer__socials {
  width: 100%;
  padding: 24px 0;
  display: flex;
  justify-content: flex-start;
  gap: 9%;
}
@media (min-width: 768px) {
  .footer__socials {
    align-items: center;
    width: 33%;
    gap: 15%;
    padding: 0;
  }
}
@media (min-width: 1280px) {
  .footer__socials {
    gap: 10%;
  }
}
.footer__icons {
  display: flex;
  justify-content: flex-start;
  width: 2.53em;
  height: 2.53em;
}
@media (min-width: 768px) {
  .footer__icons {
    width: 1.79em;
    height: 1.79em;
  }
}
.footer__logo {
  display: none;
}
@media (min-width: 768px) {
  .footer__logo {
    display: flex;
    width: 33%;
    justify-content: flex-end;
  }
}
@media (min-width: 1280px) {
  .footer__logo {
    width: 42%;
    justify-self: flex-end;
  }
}
@media (min-width: 768px) {
  .footer__image {
    width: 50%;
  }
}
@media (min-width: 1280px) {
  .footer__image {
    width: 40%;
  }
}
@media (min-width: 768px) {
  .footer__mid {
    display: flex;
    width: 100%;
  }
}
@media (min-width: 1280px) {
  .footer__mid {
    padding: 0 0.57em;
    justify-content: flex-start;
    max-width: 1020px;
    margin: 0 auto;
    gap: 5%;
  }
}
.footer__block {
  padding-bottom: 1.85em;
}
@media (min-width: 768px) {
  .footer__block {
    width: 33%;
  }
}
@media (min-width: 1280px) {
  .footer__block {
    width: 20%;
  }
}
.footer__spacer {
  padding-bottom: 1.2em;
}
.footer__email {
  color: #E1E1E1;
}
.footer__email:hover {
  color: white;
}
.footer__bottom {
  padding-top: 2.46em;
}
@media (min-width: 768px) {
  .footer__bottom {
    padding-top: 0;
  }
}
@media (min-width: 1280px) {
  .footer__bottom {
    width: 100%;
    max-width: 1020px;
    padding-left: 0.57em;
  }
}
.footer__copyright {
  padding-top: 1.2em;
}
@media (min-width: 1280px) {
  .footer__copyright {
    max-width: 1020px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .large-hidden {
    display: none;
  }
}

.footer-site-logo {
  width: 100%;
  max-width: 125px;
}/*# sourceMappingURL=footer.css.map */