// CSS reset
*,
*::before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
body,
html,
div,
span,
header,
footer,
section,
nav,
ul,
li,
a,
blockquote {
    margin: 0;
    padding: 0;
    border: 0;
    font-style: normal;
    font-weight: normal;

}

html {
    scroll-behavior: smooth;
}

ul,
li,
a {
    list-style: none;
    text-decoration: none;
}

@font-face {
    font-family: "Avenir Next LT";
    src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf"),
        url("../../assets/fonts/Alternative/AvenirNextLTPro.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Avenir Next LT";
    src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf"),
        url("../../assets/fonts/Alternative/AvenirNextLTProDemi.ttf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Avenir Next LT";
    src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf"),
        url("../../assets/fonts/Alternative/AvenirNextLTProBold.ttf");
    font-weight: 700;
    font-style: normal;
}

// global variables
$page-header: 4.28rem;
$section-header: 2.56rem;
$sub-header: 1.7rem;
$body: 14px;
$label-size: 0.85rem;

$page-header-mobile: 1.85rem;
$section-header-mobile: 1.85rem;
$sub-header-mobile: 1.07rem;
$body-mobile: 13px;
$label-size-mobile: 0.8rem;

$primary: #323232;
$secondary: #AFAFAF;
$bg: white;
$bg-alt: #FAFAFA;
$cta-hover-color: black;
$outline-color: #E1E1E1;

@mixin tablet {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1280px) {
        @content;
    }
}

body {
    font-family: "Avenir Next LT";
    font-size: $body-mobile;
    font-weight: 400;
    line-height: 1.38rem;

    @include tablet {
        font-size: $body;
    }
}