*,
*::before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
body,
html,
div,
span,
header,
footer,
section,
nav,
ul,
li,
a,
blockquote,
textarea, input {
  margin: 0;
  padding: 0;
  border: 0;
  font-style: normal;
  font-weight: normal;
}

html {
  scroll-behavior: smooth;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
}

@font-face {
  font-family: "Avenir Next LT";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype"), url("../../assets/fonts/Alternative/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Avenir Next LT";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype"), url("../../assets/fonts/Alternative/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Avenir Next LT";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype"), url("../../assets/fonts/Alternative/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Avenir Next LT";
  font-size: 13px;
  font-weight: 400;
  line-height: 1.38rem;
}
@media (min-width: 768px) {
  body {
    font-size: 14px;
  }
}

.bold {
  font-weight: 600;
}

header {
  width: 100%;
  background-color: #323232;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 768px) {
  header {
    flex-direction: row;
    justify-content: flex-start;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  background-color: #323232;
  font-size: 1.07em;
}
@media (min-width: 768px) {
  .nav {
    font-size: 1.4em;
    flex-direction: row;
    justify-content: flex-start;
  }
}
@media (min-width: 1280px) {
  .nav {
    max-width: 1020px;
    margin: 0 auto;
  }
}
.nav__logo {
  display: flex;
  justify-content: center;
  padding: 16px 0;
}
@media (min-width: 768px) {
  .nav__logo {
    width: 40%;
    max-width: 250px;
    margin-left: 36px;
    justify-content: flex-start;
  }
}
@media (min-width: 1280px) {
  .nav__logo {
    width: 20%;
    margin: 0;
  }
}
.nav__logo__img {
  max-width: 150px;
  flex-grow: 2;
}
@media (min-width: 768px) {
  .nav__logo__img {
    width: 100%;
  }
}
@media (min-width: 1280px) {
  .nav__logo__img {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
  }
}
.nav__logo__img:hover {
  cursor: pointer;
}
.nav__block {
  width: 100%;
  display: flex;
}
@media (min-width: 768px) {
  .nav__block {
    width: 40%;
    gap: 10%;
    justify-content: flex-start;
    align-items: center;
  }
}
@media (min-width: 1280px) {
  .nav__block {
    gap: 0;
  }
}
.nav__block__section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 16px 0;
  width: 50%;
  color: white;
}
@media (min-width: 768px) {
  .nav__block__section {
    padding: 0;
    margin: 0 5%;
    width: 100%;
    max-width: 80px;
  }
}
.nav__block__section__item {
  color: white;
}
@media (min-width: 768px) {
  .nav__block__section__item {
    display: flex;
    align-items: center;
    height: 100px;
  }
}

.active {
  border-bottom: 2px solid white;
}

.nav__block__section:nth-child(2) {
  padding-bottom: 19px;
}
@media (min-width: 768px) {
  .nav__block__section:nth-child(2) {
    padding-bottom: 0;
  }
}
.nav__block__section:nth-child(2):hover {
  border-bottom: 3px solid white;
  padding-bottom: 16px;
}
@media (min-width: 768px) {
  .nav__block__section:nth-child(2):hover {
    padding-bottom: 0;
    margin-bottom: -2px;
  }
}

.active-page {
  font-weight: 600;
}

.inactive {
  color: #E1E1E1;
}

.hero {
  background-image: url("../assets/images/hero-bio.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: center;
  padding-left: 16px;
  position: relative;
  line-height: 2.46rem;
}
@media (min-width: 768px) {
  .hero {
    height: 60vh;
    padding-left: 36px;
    font-size: 2.56em;
    line-height: 68px;
    background-size: cover;
  }
}
@media (min-width: 1280px) {
  .hero {
    height: 90vh;
    padding-left: 0;
  }
}
.hero__block {
  width: 100%;
  font-size: 1.5em;
  color: white;
  z-index: 3;
}
@media (min-width: 1280px) {
  .hero__block {
    width: 100%;
    max-width: 1020px;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
  }
}
.hero__block--text {
  font-weight: 600;
}

.hero::before {
  content: "";
  width: 100%;
  height: 30vh;
  position: absolute;
  background-color: #323232;
  opacity: 0.5;
  top: 0;
  left: 0;
}
@media (min-width: 768px) {
  .hero::before {
    height: 60vh;
  }
}
@media (min-width: 1280px) {
  .hero::before {
    height: 90vh;
  }
}

.main {
  padding: 0 16px 16px;
}
@media (min-width: 768px) {
  .main {
    padding: 48px 36px 0;
  }
}
@media (min-width: 1280px) {
  .main {
    max-width: 1020px;
    margin: 0 auto;
    padding: 60px 0 0;
  }
}
.main__bio__quote {
  font-size: 1.4em;
  line-height: 1.7rem;
  padding: 16px 0 0;
}
@media (min-width: 768px) {
  .main__bio__quote {
    font-size: 14px;
    font-weight: 700;
  }
}
@media (min-width: 1280px) {
  .main__bio__quote {
    padding: 36px 0 0;
  }
}
.main__bio__quote__segment {
  font-weight: 600;
}
@media (min-width: 768px) {
  .main__bio__quote__segment {
    font-size: 1.6em;
    line-height: 32px;
  }
}
.main__bio__title {
  padding: 24px 0 0;
  font-size: 1.85em;
  font-weight: 600;
}
@media (min-width: 768px) {
  .main__bio__title {
    font-size: 2.56em;
    padding: 0;
  }
}
@media (min-width: 1280px) {
  .main__bio__title {
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
    font-size: 3.06em;
  }
}
.main__bio__picture {
  width: 100%;
  padding-top: 16px;
}
@media (min-width: 768px) {
  .main__bio__picture {
    padding-top: 0;
  }
}
.main__bio__secondary {
  padding: 24px 0 0;
  font-size: 1.07em;
  font-weight: 600;
}
@media (min-width: 768px) {
  .main__bio__secondary {
    font-size: 1.7em;
    padding: 36px 0 0;
  }
}
@media (min-width: 1280px) {
  .main__bio__secondary {
    padding: 48px 0 0;
  }
}
.main__bio__text {
  width: 100%;
}
@media (min-width: 768px) {
  .main__bio__text {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .main__bio__large-container {
    padding: 36px;
  }
}
@media (min-width: 1280px) {
  .main__bio__large-container {
    padding: 60px;
  }
}
.main__bio__block {
  padding-top: 16px;
}
@media (min-width: 768px) {
  .main__bio__block {
    display: flex;
    padding: 0;
  }
}

.main__bio__quote__segment:nth-child(1) {
  padding-bottom: 16px;
}

@media (min-width: 768px) {
  .main__bio__quote__segment:nth-child(2) {
    font-size: 1.4em;
  }
}

.main__bio__text:nth-child(1) {
  padding-bottom: 16px;
}
@media (min-width: 768px) {
  .main__bio__text:nth-child(1) {
    padding: 36px 16px 0 0;
  }
}

@media (min-width: 768px) {
  .main__bio__text:nth-child(2) {
    padding: 36px 0 0 16px;
  }
}

.photo__gal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 16px 0;
  background-color: #FAFAFA;
}
@media (min-width: 768px) {
  .photo__gal {
    padding: 48px 36px 36px;
  }
}
@media (min-width: 1280px) {
  .photo__gal {
    padding: 48px 5%;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .photo__gal__container {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 1280px) {
  .photo__gal__container {
    margin: 0 5%;
    max-width: 1020px;
  }
}
.photo__gal__title {
  width: 100%;
  padding-bottom: 16px;
}
@media (min-width: 768px) {
  .photo__gal__title {
    padding-bottom: 20px;
  }
}
@media (min-width: 1280px) {
  .photo__gal__title {
    max-width: 1020px;
  }
}
.photo__gal__title__text {
  line-height: 2.5rem;
  font-weight: 600;
  font-size: 1.85em;
}
@media (min-width: 768px) {
  .photo__gal__title__text {
    font-size: 2.56em;
    font-weight: 600;
    padding-left: 8px;
  }
}
.photo__gal__item {
  width: 100%;
  padding-bottom: 16px;
  filter: grayscale(1);
}
.photo__gal__item:hover {
  filter: grayscale(0);
}
@media (min-width: 768px) {
  .photo__gal__item {
    width: 33%;
    padding-bottom: 0;
    padding: 16px 8px 0;
  }
}

.comments {
  padding: 16px;
}
@media (min-width: 768px) {
  .comments {
    padding: 48px 36px 36px;
  }
}
@media (min-width: 1280px) {
  .comments {
    max-width: 1020px;
    margin: 0 auto;
    padding: 48px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.comments__heading {
  padding-bottom: 24px;
}
@media (min-width: 768px) {
  .comments__heading {
    padding-bottom: 48px;
  }
}
@media (min-width: 1280px) {
  .comments__heading {
    align-self: flex-start;
  }
}
.comments__heading__text {
  font-size: 1.85em;
  font-weight: 600;
}
@media (min-width: 768px) {
  .comments__inner {
    padding: 0 36px 0;
  }
}
@media (min-width: 1280px) {
  .comments__inner {
    max-width: 510px;
  }
}
.comments__write {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #E1E1E1;
  padding-bottom: 16px;
  width: 100%;
}
.comments__write__left, .comments__container__block__profile {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 13%;
  padding: 24px 0 0;
}
.comments__write__left__picture, .comments__container__block__profile__icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 768px) {
  .comments__write__left__picture, .comments__container__block__profile__icon {
    width: 48px;
    height: 48px;
  }
}
.comments__write__right {
  display: flex;
  flex-flow: column nowrap;
  width: 83%;
}
.comments__write__right__name__label, .comments__write__right__comment__label {
  font-size: 0.8rem;
  color: #AFAFAF;
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: 4px;
}
.comments__write__right__name__input, .comments__write__right__comment__input {
  padding: 8px 16px 8px 8px;
  background-color: #FAFAFA;
  border: solid 1px #E1E1E1;
  border-radius: 5px;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .comments__write__right__name__input, .comments__write__right__comment__input {
    padding: 16px 24px 16px 16px;
    margin-bottom: 24px;
  }
}
.comments__write__right__comment__input {
  padding-bottom: 68px;
}
.comments__write__right__button {
  width: 100%;
  background-color: #323232;
  color: white;
  text-transform: uppercase;
  padding: 16px;
  border: none;
  border-radius: 5px;
}
@media (min-width: 768px) {
  .comments__write__right__button {
    width: 35%;
    align-self: flex-end;
  }
}

.comments__container {
  display: flex;
  flex-flow: column nowrap;
}
.comments__container__block {
  display: flex;
  width: 100%;
  padding: 16px 0;
  border-bottom: 1px solid #E1E1E1;
  justify-content: space-between;
}
.comments__container__block__profile {
  padding-top: 4px;
}
.comments__container__block__profile__icon {
  background-color: #E1E1E1;
}
.comments__container__block__text {
  display: flex;
  width: 83%;
  flex-direction: column;
}
.comments__container__block__text__top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
}
.comments__container__block__text__top__name {
  font-weight: 600;
}
.comments__container__block__text__top__date {
  color: #AFAFAF;
}

.footer {
  background-color: #323232;
  padding: 24px 16px 16px;
  color: white;
  display: flex;
  flex-direction: column;
  line-height: 1.38rem;
}
@media (min-width: 768px) {
  .footer {
    padding: 48px 36px 36px;
  }
}
@media (min-width: 1280px) {
  .footer {
    align-items: center;
  }
}
.footer__top {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  font-size: 1.07em;
  line-height: 2.5rem;
}
@media (min-width: 768px) {
  .footer__top {
    display: flex;
    padding: 0 0 36px;
  }
}
@media (min-width: 1280px) {
  .footer__top {
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 8px 36px;
  }
}
.footer__top__title {
  width: 100%;
  font-size: 1.85em;
}
@media (min-width: 768px) {
  .footer__top__title {
    font-size: 14px;
    display: flex;
    align-items: center;
    width: 33%;
  }
}
@media (min-width: 1280px) {
  .footer__top__title {
    margin-right: -10%;
  }
}
.footer__top__title__text {
  font-weight: 600;
}
@media (min-width: 768px) {
  .footer__top__title__text {
    font-size: 2.3em;
  }
}
.footer__top__socials {
  width: 100%;
  padding: 24px 0;
  display: flex;
  justify-content: flex-start;
  gap: 9%;
}
@media (min-width: 768px) {
  .footer__top__socials {
    align-items: center;
    width: 33%;
    gap: 15%;
    padding: 0;
  }
}
@media (min-width: 1280px) {
  .footer__top__socials {
    gap: 10%;
  }
}
.footer__top__socials__icons {
  display: flex;
  justify-content: flex-start;
  width: 33px;
  height: 33px;
}
@media (min-width: 768px) {
  .footer__top__socials__icons {
    width: 25px;
    height: 25px;
  }
}
.footer__top__logo {
  display: none;
}
@media (min-width: 768px) {
  .footer__top__logo {
    display: flex;
    width: 33%;
    justify-content: flex-end;
  }
}
@media (min-width: 1280px) {
  .footer__top__logo {
    width: 42%;
    justify-self: flex-end;
  }
}
@media (min-width: 768px) {
  .footer__mid {
    display: flex;
    width: 100%;
  }
}
@media (min-width: 1280px) {
  .footer__mid {
    padding: 0 8px;
    justify-content: flex-start;
    max-width: 1020px;
    margin: 0 auto;
    gap: 5%;
  }
}
.footer__mid__block {
  padding-bottom: 24px;
}
@media (min-width: 768px) {
  .footer__mid__block {
    width: 33%;
  }
}
@media (min-width: 1280px) {
  .footer__mid__block {
    width: 20%;
  }
}
.footer__mid__block__spacer {
  padding-bottom: 16px;
}
.footer__mid__link {
  color: #E1E1E1;
}
.footer__mid__link:hover {
  color: white;
}
.footer__bottom {
  padding-top: 32px;
}
@media (min-width: 768px) {
  .footer__bottom {
    padding-top: 0;
  }
}
@media (min-width: 1280px) {
  .footer__bottom {
    width: 100%;
    max-width: 1020px;
    padding-left: 8px;
  }
}
.footer__bottom__copyright {
  padding-top: 16px;
}
@media (min-width: 1280px) {
  .footer__bottom__copyright {
    max-width: 1020px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .large-hidden {
    display: none;
  }
}

.footer-site-logo {
  width: 100%;
  max-width: 125px;
}/*# sourceMappingURL=bio.css.map */