@use "./partials/global.scss" as *;
@use "./partials/mixins.scss" as *;
@use "./partials/variables.scss" as *;
//use margin-auto, max-width. Should add up to 1020 for desktop.


/////////////////////////////
///////HEADER, NAVBAR////////
/////////////////////////////
header {
    width: 100%;
    background-color: $primary;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include tablet {
        flex-direction: row;
        justify-content: flex-start;
    }
}

.nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    background-color: $primary;
    font-size: $sub-header-mobile;


    @include tablet {
        font-size: 1.4em;
        flex-direction: row;
        justify-content: flex-start;

    }

    @include desktop {
        max-width: 1020px;
        margin: 0 auto;
    }

    // Container for the Logo Image
    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.2em 0 1.2em 1.2em;

        @include tablet {
            width: 40%;
            max-width: 250px;
            margin-left: 2.57em;
            justify-content: flex-start;
        }

        @include desktop {
            width: 20%;
            margin: 0;
            padding-left: 0;
        }
    }

    &__anchor {
        max-width: 150px;
        display: flex;
        align-items: center;
        height: 25px;
    }

    &__img {
        max-width: 150px;
        flex-grow: 2;

        @include tablet {
            width: 100%;
        }

        @include desktop {
            flex-grow: 1;
            display: flex;
            justify-content: flex-start;
        }
    }

    // The individual Nav container -> Block -> Text
    &__block {
        width: 100%;
        display: flex;

        @include tablet {
            width: 40%;
            gap: 10%;
            justify-content: flex-start;
            align-items: center;
        }

        @include desktop {
            gap: 0;
        }
    }

    &__section {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 0 1.2em 0;
        width: 50%;
        color: white;


        @include tablet {
            padding: 0;
            margin: 0 5%;
            width: 100%;
            max-width: 80px;

        }
    }

    &__item {
        color: white;

        @include tablet {
            display: flex;
            align-items: center;
            height: 100px;
        }
    }

}

.active {
    border-bottom: 2px solid white;
}

.active-page {
    font-weight: 600;
}

.inactive {
    color: $outline-color;
}


// Specific Selector for second item due to offset caused by active border
.nav__section:nth-child(2) {
    padding-bottom: 19px;

    @include tablet {
        padding-bottom: 0;
    }

    &:hover {
        border-bottom: 3px solid white;
        padding-bottom: 1.2em;

        @include tablet {
            padding-bottom: 0;
            margin-bottom: -2px;

        }
    }
}

.hero {
    background-image: url("../assets/images/hero-bio.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    padding-left: 1.2em;
    position: relative;
    line-height: 2.46rem;

    @include tablet {
        height: 60vh;
        padding-left: 2.57em;
        font-size: $section-header;
        line-height: 4.86em;
        background-size: cover;
    }

    @include desktop {
        height: 90vh;
        padding-left: 0;
    }

    // The block containing the text, for proper margin spacing in desktop breakpoint
    &__block {
        width: 100%;
        font-size: 1.5em;
        color: white;
        z-index: 3;

        @include desktop {
            width: 100%;
            max-width: 1020px;
            display: flex;
            justify-content: flex-start;
            margin: 0 auto;
        }
    }

    &__text {
        font-weight: 600;
    }
}


// Pseudo for the shadow overlay
.hero::before {
    content: "";
    width: 100%;
    height: 30vh;
    position: absolute;
    background-color: #323232;
    opacity: 0.5;
    top: 0;
    left: 0;

    @include tablet {
        height: 60vh;
    }

    @include desktop {
        height: 90vh;
    }
}

/////////////////////////////
////////MAIN BIOGRAPHY//////
/////////////////////////////

.bio {
    padding: 0 1.2em 1.2em;

    @include tablet {
        padding: 3.42em 2.57em 0;
    }

    @include desktop {
        max-width: 1020px;
        margin: 0 auto;
        padding: 4.29em 0 0;
    }

    &__title {
        padding: 1.85em 0 0;
        font-size: $section-header-mobile;
        font-weight: 600;

        @include tablet {
            font-size: $section-header;
            padding: 0;
        }

        @include desktop {
            width: 100%;
            max-width: 1020px;
            margin: 0 auto;
            font-size: calc($section-header + 0.5em)
        }
    }

    // Large container used to contain content after an additional layer of padding is added (desktop & tablet only)
    &__large-container {

        @include tablet {
            padding: 2.57em;
        }

        @include desktop {
            padding: 4.29em;
        }
    }

    &__picture {
        width: 100%;
        padding-top: 1.2em;

        @include tablet {
            padding-top: 0;
        }
    }

    &__quote {
        font-size: 1.4em;
        line-height: 1.7rem;
        padding: 16px 0 0;

        @include tablet {
            font-size: $body;
            font-weight: 700;
        }

        @include desktop {
            padding: 2.57em 0 0;
        }
    }

    &__segment {
        font-weight: 600;

        @include tablet {
            font-size: 1.6em;
            line-height: 32px;
        }
    }

    // main sub-heading
    &__secondary {
        padding: 1.85em 0 0;
        font-size: $sub-header-mobile;
        font-weight: 600;

        @include tablet {
            font-size: $sub-header;
            padding: 2.57em 0 0;
        }
    }

    &__text {
        width: 100%;

        @include tablet {
            width: 50%;
        }
    }

    &__block {
        padding-top: 1.2em;

        @include tablet {
            display: flex;
            padding: 0;
        }
    }
}

//specific stylings for the main bio text
.bio__segment:nth-child(1) {
    padding-bottom: 1.2em;
}

.bio__segment:nth-child(2) {
    @include tablet {
        font-size: 1.4em;
    }
}

.bio__text:nth-child(1) {
    padding-bottom: 1.2em;

    @include tablet {
        padding: 2.57em 1.14em 0 0;

    }
}

.bio__text:nth-child(2) {
    @include tablet {
        padding: 2.57em 0 0 1.14em;

    }
}
/////////////////////////////
////////PHOTO GALLERY////////
/////////////////////////////
.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.85em 1.2em 0;
    background-color: $bg-alt;

    @include tablet {
        padding: 3.42em 2.57em 2.57em;
    }

    @include desktop {
        padding: 3.42em 5%;
        align-items: center;
    }

    &__upper {
        width: 100%;
        padding-bottom: 1.2em;


        @include tablet {
            padding-bottom: 1.43em;
        }

        @include desktop {
            max-width: 1020px;
        }
    }

    &__title {
        line-height: 2.5rem;
        font-weight: 600;
        font-size: $section-header-mobile;

        @include tablet {
            font-size: $section-header;
            font-weight: 600;
            padding-left: 0.57em;
        }
    }

    &__container {
        @include tablet {
            display: flex;
            flex-wrap: wrap;
        }

        @include desktop {
            margin: 0 5%;
            max-width: 1020px;
        }
    }

    &__item {
        width: 100%;
        padding-bottom: 1.2em;
        filter: grayscale(1);

        &:hover {
            filter: grayscale(0);
        }

        @include tablet {
            width: 33%;
            padding-bottom: 0;
            padding: 1.14em 0.57em 0;
        }
    }
}

/////////////////////////////
/////WRITING A COMMENT///////
/////////////////////////////
.comments {
    padding: 1.2em;

    @include tablet {
        padding: 3.42em 2.57em 2.57em;
    }

    @include desktop {
        max-width: 1020px;
        margin: 0 auto;
        padding: 3.42em 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__heading {
        padding-bottom: 1.85em;

        @include tablet {
            padding-bottom: 3.42em;
        }

        @include desktop {
            align-self: flex-start
        }
    }

    &__title {
        font-size: $section-header-mobile;
        font-weight: 600;
    }

    //only renders for additional padding on larger screens
    &__inner {
        @include tablet {
            padding: 0 2.57em 0;
        }

        @include desktop {
            max-width: 510px;
        }
    }

    &__write {
        display: flex;
        justify-content: space-between;
        border-bottom: solid 1px $outline-color;
        padding-bottom: 1.2em;
        width: 100%;
    }

    &__left {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 13%;
        padding: 1.85em 0 0;

    }

    &__picture {
        width: 2.8em;
        height: 2.8em;
        border-radius: 50%;
        object-fit: cover;

        @include tablet {
            width: 3.42em;
            height: 3.42em;
        }

    }

    &__right {
        display: flex;
        flex-flow: column nowrap;
        width: 83%;
    }

    &__name--label {
        font-size: $label-size-mobile;
        color: $secondary;
        text-transform: uppercase;
        font-weight: 600;
        padding-bottom: 0.3em;
    }

    &__name--input {
        padding: 0.92em;
        background-color: $bg-alt;
        border: solid 1px $outline-color;
        border-radius: 4px;

        &:focus {
            outline: none;
            border: solid 1px $primary;
        }

        @include tablet {
            padding: 1.7em 1.14em;
            max-height: 48px;
        }
    }

    &__error {
        color: #D22D2D;
        font-size: 0.8em;
    }

    &__comment--label {
        @extend .comments__name--label;
    }

    &__comment--input {
        @extend .comments__name--input;
        padding-bottom: 4.86em;
    }

    &__button {
        width: 100%;
        background-color: $primary;
        color: white;
        text-transform: uppercase;
        padding: 1.2em;
        border: none;
        border-radius: 4px;

        &:hover {
            background-color: black;
            cursor: pointer;
        }

        @include tablet {
            width: 35%;
            align-self: flex-end;
        }
    }
}

.error-border {
    border: solid 1px #D22D2D;
}

.error-message {
    visibility: hidden;
}

/////////////////////////////
/////DISPLAY COMMENTS////////
/////////////////////////////
.comments-container {
    display: flex;
    flex-flow: column nowrap;

    @include tablet {}

    &__block {
        display: flex;
        width: 100%;
        padding: 1.2em 0 2em;
        border-bottom: 1px solid $outline-color;
        justify-content: space-between;
        position: relative;
    }

    &__profile {
        @extend .comments__left;
        padding-top: 4px;
        flex-direction: column;
        align-items: center;
    }

    &__icon {
        @extend .comments__picture;
        background-color: $outline-color;
        margin-bottom: 1em;
    }

    &__likes {
        background-color: $outline-color;
        width: 50%;
        height: 1.2em;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__delete {
        width: 10px;
        position: absolute;
        bottom: 0;
        right: 5%;
    }

    &__text {
        display: flex;
        width: 83%;
        flex-direction: column;
    }

    &__top {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 0.6em 0;
    }

    &__name {
        font-weight: 600;
    }

    &__date {
        color: $secondary;
    }
}
/////////////////////////////
/////COMMENTS ANIMATION//////
/////////////////////////////
@keyframes commentLoad {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.anim-load {
    animation: commentLoad 0.5s ease-out forwards;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20;

  &:hover {
    color: red;
    cursor: pointer;
  }
  
}

.clicked {
    font-variation-settings: 
    'FILL' 1;
    color: red;
}

.delete-icon {
    opacity: 0.5;

    &:hover {
        opacity: 1;
    }
}



/////////////////////////////
///////////FOOTER///////////
/////////////////////////////
.footer {
    background-color: $primary;
    padding: 1.85em 1.2em 1.2em;
    color: white;
    display: flex;
    flex-direction: column;
    line-height: 1.38rem;

    @include tablet {
        padding: 3.42em 2.57em 2.57em;
    }

    @include desktop {
        align-items: center;
    }

    //Top container that holds the heading, social icons, and logo (tablet & desktop)
    &__top {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        font-size: $sub-header-mobile;
        line-height: 2.5rem;

        @include tablet {
            display: flex;
            padding: 0 0 2.57em;
        }

        @include desktop {
            max-width: 1020px;
            margin: 0 auto;
            padding: 0 0.57em 2.57em;
        }
    }

    &__upper {
        width: 100%;
        font-size: $section-header-mobile;

        @include tablet {
            font-size: $body;
            display: flex;
            align-items: center;
            width: 33%;
        }

        @include desktop {
            margin-right: -10%;
        }
    }

    &__title {
        font-weight: 600;

        @include tablet {
            font-size: 2.3em;
        }
    }


    &__socials {
        width: 100%;
        padding: 24px 0;
        display: flex;
        justify-content: flex-start;
        gap: 9%;

        @include tablet {
            align-items: center;
            width: 33%;
            gap: 15%;
            padding: 0;
        }

        @include desktop {
            gap: 10%;

        }
    }

    &__icons {
        display: flex;
        justify-content: flex-start;
        width: 2.53em;
        height: 2.53em;

        @include tablet {
            width: 1.79em;
            height: 1.79em;
        }
    }


    &__logo {
        display: none;

        @include tablet {
            display: flex;
            width: 33%;
            justify-content: flex-end;
        }

        @include desktop {
            width: 42%;
            justify-self: flex-end;
        }
    }

    &__image {
        @include tablet {
            width: 50%;
        }

        @include desktop {
            width: 40%;
        }
    }


    //holds the contact information
    &__mid {

        @include tablet {
            display: flex;
            width: 100%;
        }

        @include desktop {
            padding: 0 0.57em;
            justify-content: flex-start;
            max-width: 1020px;
            margin: 0 auto;
            gap: 5%;

        }
    }

    &__block {
        padding-bottom: 1.85em;

        @include tablet {
            width: 33%;
        }

        @include desktop {
            width: 20%;
        }
    }

    //for formatting
    &__spacer {
        padding-bottom: 1.2em;
    }


    &__email {
        color: $outline-color;

        &:hover {
            color: white;
        }
    }



    &__bottom {
        padding-top: 2.46em;

        @include tablet {
            padding-top: 0;
        }

        @include desktop {
            width: 100%;
            max-width: 1020px;
            padding-left: 0.57em;
        }
    }

    &__copyright {
        padding-top: 1.2em;

        @include desktop {
            max-width: 1020px;
            margin: 0 auto;
        }
    }

}

//for the Bandsite logo at footer bottom, hidden at higher viewpoints
.large-hidden {
    @include tablet {
        display: none;
    }
}

.footer-site-logo {
    width: 100%;
    max-width: 125px;
}