@use "./partials/global.scss" as *;

header {
    width: 100%;
    background-color: $primary;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include tablet {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 5%;
    }

}
.site-logo {
    width: 40%;
    max-width: 200px;

    @include tablet {
        width: 100%;
    }

    &__block {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px 0;

        @include tablet {
            width: 30%;
            max-width: 250px;
            height: 100px;
            padding: 0 36px;
        }
    }
}
.nav {
    display: flex;
    width: 100%;
    height: 36px;
    justify-content: center;
    background-color: $primary;
    font-size: $sub-header-mobile;


    @include tablet {
        justify-content: flex-start;
        height: inherit;
        gap: 10%;

    }


    &__block {
        display: flex;
        justify-content: center;
        width: 50%;
        color: white;


        @include tablet {
            width: 5.2rem;

        }

        &--item {
            color: white;
            
            @include tablet {
                display: flex;
                align-items: center;
                height: 100px;
            }
        }

    }
}

.active {
    border-bottom: 3px solid white;
}


.hero {
    background-image: url("../assets/images/hero-bio.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 20vh;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 16px;
    position: relative;
    font-size: $sub-header-mobile;
    line-height: 2.46rem;

    @include tablet {
        height: 90vh;
        padding-left: 36px;
        font-size: $section-header;
        line-height: 68px;
        background-size: cover;
    }

    &--text {
        z-index: 3;
    }
}

.hero::before {
    content: "";
    width: 100%;
    height: 20vh;
    position: absolute;
    background-color: #323232;
    opacity: 0.5;
    top: 0;
    left: 0;

    @include tablet {
        height: 90vh;
    }
}


.main {
    padding: 0 16px 16px;

    @include tablet {
        padding: 48px 36px 0;
    }

    &__bio {
        width: 100%;

        &--quote {
            font-size: $sub-header-mobile;
            line-height: 1.7rem;
            padding: 16px 0 0;

            @include tablet {
                font-size: $body;
                font-weight: 700;
            }
        }

        &--title {
            padding: 24px 0 0;
            font-size: $section-header-mobile;

            @include tablet {
                font-size: $section-header;
                padding: 0;
            }
        }

        &--picture {
            width: 100%;
            padding-top: 16px;

            @include tablet {
                padding-top: 0;
            }
        }

        &--secondary {
            padding: 16px 0 0;
            font-size: $sub-header-mobile;

            @include tablet {
                font-size: $sub-header;
                padding: 36px 0 0;
            }
        }

        &--text {
            width: 100%;

            @include tablet {
                width: 50%;
            }
        }

        &--large-container {

            @include tablet {
                padding: 36px;
            }
        }

        &--block {
            padding-top: 16px;

            @include tablet {
                display: flex;
                padding: 0;
            }
        }
    }
}
.main__bio--text:nth-child(1){
    padding-bottom: 16px;
    @include tablet {
        padding: 36px 16px 0 0;

    }
}
.main__bio--text:nth-child(2){
    @include tablet {
        padding: 36px 0 0 16px;

    }
}

.photo__gal {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 24px 16px 0;
    background-color: $bg-alt;

    @include tablet {
        padding: 48px 36px 36px;
    }

    &--container {
        @include tablet {
            display: flex;
            flex-wrap: wrap;
        }
    }

    &--title {
        padding-bottom: 16px;
        font-size: $section-header-mobile;
        line-height: 2.5rem;

        @include tablet {
            padding-left: 8px;
            font-size: $section-header;
        }
    }

    &--item {
        width: 100%;
        padding-bottom: 16px;

        @include tablet {
            width: 33%;
            padding-bottom: 0;
            padding: 16px 8px 0;
        }
    }
}

.footer {
    background-color: $primary;
    padding: 16px;
    color: white;
    display: flex;
    flex-direction: column;
    line-height: 1.38rem;

    @include tablet {
        padding: 36px;
    }

    &__top {
        padding: 16px 0 16px;
        font-size: $sub-header-mobile;
        line-height: 2.5rem;

        @include tablet {
            display: flex;
        }

        &--title {
            @include tablet {
                display: flex;
                width: 33%;
                padding-top: 4px;
            }
        }

        &--socials {
            width: 50%;
            padding: 16px 0;
            display: flex;
            justify-content: flex-start;
            gap: 25%;

            @include tablet {
                width: 33%;
                gap: 15%;
            }

            &--icons {
                display: flex;
                justify-content: flex-start;
            }
        }

        &--logo {
            display: none;

            @include tablet {
                display: flex;
                width: 33%;
                justify-content: flex-end;

            }
        }
    }

    &__mid {

        @include tablet {
            display: flex;
            width: 100%;
        }
        &--block {
            padding-bottom: 24px;

            @include tablet {
                width: 33%;
            }

            &--spacer {
                padding-bottom: 16px;
            }
        }

    }

    &__bottom {
        padding-top: 32px;

        @include tablet {
            padding-top: 0;
        }

        &--copyright {
            padding-top: 16px;
        }
    }

}

.large-hidden {
    
    @include tablet {
        display: none;
    }

}

.footer-site-logo {
    width: 50%;
}